@import url(https://fonts.googleapis.com/css?family=Tinos:400,700,400italic,700italic);

body {
  font-family: "Tinos", serif;
}

h1, h2 {
  font-style: italic;
  font-weight: 400;
  background-color: white;
  padding: 15px 0;
}

h2 {
  background-color: rgba(255, 255, 255, 0.5)
}

.david-methvin {
  background-image: url(img/davidmethvin.jpg);
  background-size: cover center;
}
